@media only screen and (max-width: 768px) {
    .container {
        width: 350px!important;
        margin: 0 auto;
    }
    h1 {
        font-size: 28px!important;
    }
      
    h3 {
        font-size: 26px!important; 
    }
      
    h4 {
        font-size: 20px!important; 
    }
      
    h5 {
        font-size: 18px!important; 
    }
    
    
    .bottom-navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }

    .bottom-navbar > .bottom--container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom-navbar > .navbar-container {
        display: none;
    }

    .bottom--container > .navbar__nav {
        gap: 25px;
    }

    .navbar-container svg {
        width: 150px!important;
    }
    .slide--content {
        align-items: center!important;
        text-align: center!important;
    }
    .slide--content-title {
        width: 80%!important;
    }

    .slide--content-title > p{
        font-size: 16px!important;
    }

    .section-title > button {
        font-size: 18px!important;
    } 

    .intro--product--container {
        display: flex;
        gap: 0!important;
    }

    .intro--product--card {
        max-width: 50%!important;
    }

    .news--cards {
        display: grid!important;
        grid-template-columns: 1fr 1fr!important;
        gap: 25px;
        justify-items: center;
    }

    .news--card {
        width: 150px;
    }

    .parter-list > img {
        max-width: 252px!important;
        padding-left: 50px!important;
    }

    .contact--container {
        flex-direction: column;
    }
    .contact--field {
        width: 100%!important;
        margin-bottom: 25px;
    } 

    iframe{
        width: 350px;
    }

    /* news */

    .head--news {
        display: flex;
        flex-direction: column;
        gap: 25px!important;
    }

    .news--cards--main {
        grid-template-columns: 1fr 1fr!important;
    }

    /* product */
    .product--screen-container {
        flex-direction: column!important;
        gap: 25px!important;
    }
}